[Unit]
Description=BitShares Healthcheck Daemon ({{ bitshares_health_listen }})
After=network.target

[Service]
User=bitshares
Group=bitshares

# Type=forking
Restart=always
ExecStart=/usr/local/bin/bitshares-healthcheck.py --listen {{ bitshares_health_listen }}  {{ bitshares_health_url }}
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
